/*
style.css
Title: ANUSTART
Author: Nazmus
URL: http://nazm.us
Github: https://github.com/nlinux1/

Custom CSS file for ANUSTART (on top of Boostrap)
*/

#content{
/*    height: 600px;*/
    font-family: lateef, serif;
}

.name{
/*    color: darkblue;*/
    font-weight: 600;
/*    text-decoration: underline;*/
    font-family: de-walpergens-pica, sans-serif;
        padding-top: 10px;
    padding-bottom: 10px;
}

.header{
    padding-top: 15px;
}

.button-buffer{
    padding-top: 5px;
}
.quote{
    padding-top: 10px;
    padding-bottom: 10px;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: dotted #d9534f 1px;
    font-size: 12px;
    padding-bottom: 8px;
    
/*    padding-top: 8px;*/
}


.footText, .footText a{
    padding-top: 5px;
    color: #d9534f;
}

.url{
    padding-bottom: 15px;
}

@media only screen and (max-width: 500px) {

   body { font-size: 2em; }

}