/*
style.css
Title: ANUSTART
Author: Nazmus
URL: http://nazm.us
Github: https://github.com/nlinux1/

Custom CSS file for ANUSTART (on top of Boostrap)
*/

#content{
/*    height: 600px;*/
    font-family: lateef, serif;
}

.name{
/*    color: darkblue;*/
    font-weight: 600;
/*    text-decoration: underline;*/
    font-family: de-walpergens-pica, sans-serif;
        padding-top: 10px;
    padding-bottom: 10px;
}

.header{
    padding-top: 15px;
}

.quote{
    padding-top: 10px;
    padding-bottom: 10px;
}