#content{
/*    height: 600px;*/
    font-family: lateef, serif;
}

.name{
/*    color: darkblue;*/
    font-weight: 600;
/*    text-decoration: underline;*/
    font-family: de-walpergens-pica, sans-serif;
}